<ion-view view-title="People">
 <!--  <ion-content class="padding"> -->

<ion-pane ng-controller="CardsCtrl" view-title="Match">

  <td-cards>
    <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-swipe-down="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
      <div class="image" ng-controller="CardCtrl">
        <div class="no-text">NOPE</div>
        <img ng-src="{{card.image}}" alt="" >
        <div class="yes-text">LIKE</div>
      </div>
    </td-card>
  </td-cards>
  <ion-spinner class="spinner-assertive spinner-wait-pic" icon="ripple"></ion-spinner>
</ion-pane>

<!--   </ion-content> -->
</ion-view>